@page
@model Presentacion.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Almacenamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Disco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].MemoriaRam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].VelocidadProcesamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].NumeroControles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].PrecioCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Consola) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Almacenamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoriaRam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocidadProcesamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroControles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
