@page
@model Presentacion.Pages.CrudControles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Controles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.Fabricante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.Fabricante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.PrecioVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.PrecioCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.PrecioCompra)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Controles.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
