@page
@model Presentacion.Pages.CrudControles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Controles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.Fabricante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.Fabricante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.PrecioVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Controles.PrecioCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Controles.PrecioCompra)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Controles.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
